tenants:
{%  for tenant in tenants  %}
  {{ tenant.name }}:
    mac_vrf_rt_base: {{ tenant.mac_vrf_rt_base }}
    pseudowire_rt_base: {{ tenant.pseudowire_rt_base }}
    mac_vrf_vni_base: {{ tenant.mac_vrf_vni_base }}
    vlan_aware_bundle_number_base: {{ tenant.vlan_aware_bundle_number_base }}
    point_to_point_services:
{%      for service in tenant.services  %}
{%        set id1_count = namespace(value=0) %}
{%        set id2_count = namespace(value=0) %}
{%        set total_count = namespace(value=0) %}
{%        set parentif_id = namespace(value=1) %}
{%        set parentif_id_offset = namespace(value=0) %}
{%        for service_id in tenant.service_count  %}
      - name: {{ service.name }}_{{ service_id }}
        type: vpws-pseudowire
        subinterfaces:
{%          for id in service.ids  %}
          - number: {{ id}}
{%          endfor %}
        endpoints:
          - id: {{ service.start_id1 + id1_count.value }}
            nodes: {{ service.node_set1 }}
{%          set subif_id = namespace(value=1) %}
{%          if total_count.value%4 > 0 %}
{%            set subif_id.value = total_count.value%4 + 1  %}
{%          endif %}
{%          if ((total_count.value / 4) | round(0, 'floor') | int ) > parentif_id_offset.value %}
{%            set parentif_id.value = parentif_id.value + 2 %}
{%            set parentif_id_offset.value = parentif_id_offset.value  + 1 %}
{%          endif %}
            interfaces: [ "{{ "Ethernet" ~ parentif_id.value ~ "/" ~ subif_id.value }}" , "{{ "Ethernet" ~ parentif_id.value ~ "/" ~ subif_id.value }}"]
            port_channel:
              mode: active
              short_esi: {{ service.short_esi1 ~ ":" ~ '%04x' % total_count.value }}
          - id: {{ service.start_id2 + id2_count.value }}
            nodes: {{ service.node_set2 }}
            interfaces: [ "{{ "Ethernet" ~ parentif_id.value ~ "/" ~ subif_id.value }}" , "{{ "Ethernet" ~ parentif_id.value ~ "/" ~ subif_id.value }}"]
            port_channel:
              mode: active
              short_esi: {{ service.short_esi2 ~ ":" ~ '%04x' % total_count.value }}
{%        set id1_count.value = id1_count.value  + service.ids|length %}
{%        set id2_count.value = id2_count.value  + service.ids|length %}
{%        set total_count.value = total_count.value  + 1 %}
{%        endfor %}
    vrfs:
{%        set total_count = namespace(value=0) %}
{%        for p2mp_id in tenant.p2mp_service_count  %}
      P2MP_{{tenant.name}}_{{ p2mp_id }}:
        vrf_id: {{tenant.p2mp_service_rt_id_base + loop.index }}
        svis:
{%          for vlan_id in tenant.p2mp_vlan_per_vrf_count %}
          {{ tenant.p2mp_service_vlan_base + total_count.value  }}:
            name: v{{ tenant.p2mp_service_vlan_base + total_count.value  }}
            enabled: true
            ip_address_virtual: {{ tenant.p2mp_ip_prefix }}.{{ total_count.value }}.1/24
            tags: {{ tenant.p2mp_tag_set }}
{%            set total_count.value = total_count.value  + 1 %}
{%          endfor %}
{%        endfor %}
{%      endfor %}
    l2vlans:
      10:
        name: TENANT_A_L2_SERVICE
        tags:
          - frankfurt
          - berlin
  TENANT_B:
    pseudowire_rt_base: 2000
    mac_vrf_rt_base: 20000
    mac_vrf_vni_base: 5000
    vlan_aware_bundle_number_base: 5000
    vrfs:
      INTERNET:
        vrf_id: 20000
        vtep_diagnostic:
          loopback: 2000
          loopback_ip_range: 10.0.0.0/24
        additional_route_targets:
          - type: export
            address_family: evpn
            route_target: "65000:20001"
        address_families:
          - evpn
        l3_interfaces:
          - description: TENANT_B_SITE_3_INTRA_L3VPN
            enabled: true
            interfaces:
            - Ethernet2/1.3000
            - Ethernet11/4.3000
            - Ethernet11/4.3001
            - Ethernet11/4.3000
            - Ethernet11/4.3001
            - Ethernet33/1.3000
            - Ethernet21/1.2010


            ip_addresses:
            - 172.16.3.6/31
            - 172.16.3.8/31
            - 172.16.3.10/31
            - 172.16.3.14/31
            - 172.16.3.16/31
            - 172.16.3.12/31
            - 172.16.3.0/31

            nodes:
            - smm313
            - smm153
            - smm154
            - smm311
            - smm312
            - smm310
            - smm153
{% set bgp_session_count = namespace(value=250) %}
{% set base_ip = namespace(value="172.16.0.0/20") %}
{% set base_ipv6 = namespace(value="fda7::0/56") %}
{% for count in range(0, bgp_session_count.value) %}
          - description: TENANT_B_SITE_3_INTRA_L3VPN
            enabled: true
            interfaces: [Ethernet11/4.{{ 3010 + count }}]
            ip_addresses: [{{ base_ip.value|ansible.netcommon.ipsubnet(31, count+640) }}]
            ipv6_addresses: [{{ base_ipv6.value|ansible.netcommon.ipsubnet(64, count)|ansible.netcommon.ipaddr('1') }}]
            raw_eos_cli: |
              traffic-policy input EDGE-PROTECTION-CUST-IN-{{ 3010 + count }}
              shape rate 100000 kbps
            nodes: [smm153]
{% endfor %}
{% set bgp_session_count = namespace(value=500) %}
{% set base_ip = namespace(value="172.16.0.0/20") %}
{% for count in range(250, bgp_session_count.value) %}
          - description: TENANT_B_SITE_3_INTRA_L3VPN
            enabled: true
            interfaces: [Ethernet11/4.{{ 3010 + count }}]
            ip_addresses: [{{ base_ip.value|ansible.netcommon.ipsubnet(31, count+640) }}]
            raw_eos_cli: |
              traffic-policy input EDGE-PROTECTION-CUST-IN-{{ 3010 + count }}
              shape rate 100000 kbps
            nodes: [smm153]
{% endfor %}
{% set bgp_session_count = namespace(value=250) %}
{% set base_ip = namespace(value="172.66.0.0/20") %}
{% set base_ipv6 = namespace(value="fda7:66::0/56") %}
{% for count in range(0, bgp_session_count.value) %}
          - description: TENANT_B_SITE_3_INTRA_L3VPN
            enabled: true
            interfaces: [Ethernet11/4.{{ 3010 + count }}]
            ip_addresses: [{{ base_ip.value|ansible.netcommon.ipsubnet(31, count+640) }}]
            ipv6_addresses: [{{ base_ipv6.value|ansible.netcommon.ipsubnet(64, count)|ansible.netcommon.ipaddr('1') }}]
            raw_eos_cli: |
              traffic-policy input EDGE-PROTECTION-CUST-IN-{{ 3010 + count }}
            nodes: [smm154]
{% endfor %}
{% set bgp_session_count = namespace(value=500) %}
{% set base_ip = namespace(value="172.66.0.0/20") %}
{% set base_ipv6 = namespace(value="fda7:67::0/56") %}
{% for count in range(250, bgp_session_count.value) %}
          - description: TENANT_B_SITE_3_INTRA_L3VPN
            enabled: true
            interfaces: [Ethernet11/4.{{ 3010 + count }}]
            ip_addresses: [{{ base_ip.value|ansible.netcommon.ipsubnet(31, count+640) }}]
            ipv6_addresses: [{{ base_ipv6.value|ansible.netcommon.ipsubnet(64, count-250)|ansible.netcommon.ipaddr('1') }}]
            raw_eos_cli: |
              traffic-policy input EDGE-PROTECTION-CUST-IN-{{ 3010 + count }}
            nodes: [smm154]
{% endfor %}
        bgp_peers:
          172.16.3.7:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm313
            remote_as: "65501"
          172.16.3.9:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65502"
          172.16.3.11:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm154
            remote_as: "65502"
{%  set ip_count = namespace(value=0) %}
{%  set octet3 = namespace(value=5) %}
{%  for count in range(0, bgp_session_count.value)  %}
          172.16.{{ octet3.value }}.{{ ip_count.value + 1 }}:
            maximum_routes: 0
            bfd: true
            default_originate:
              always: true
            #route_map_out: DENY-ALL-RM
            description: IXIA_SCALE
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: {{ count + 64000 }}
{%    set ip_count.value = ip_count.value  + 2 %}
{%    if ip_count.value > 255 %}
{%      set octet3.value = octet3.value  + 1 %}
{%      set ip_count.value = 0 %}
{%    endif %}
{%  endfor %}
      PREMIUM1:
        vrf_id: 20001
        vtep_diagnostic:
          loopback: 2001
          loopback_ip_range: 10.0.0.0/24
        address_families:
          - evpn
        additional_route_targets:
          - type: export
            address_family: evpn
            route_target: route-map TAG-DEFAULT-ONLY-RM
        l3_interfaces:
          - description: PREMIUM1
            enabled: true
            interfaces:
            - Ethernet22/1
            - Ethernet22/1
            - Ethernet33/1.3001
            - Ethernet11/4.3002
            - Ethernet11/4.3003
            - Ethernet11/4.3002
            - Ethernet11/4.3003
            ip_addresses:
            - 172.16.3.0/31
            - 172.16.4.0/31
            - 172.16.4.2/31
            - 172.16.4.4/31
            - 172.16.4.6/31
            - 172.16.4.8/31
            - 172.16.4.10/31
            nodes:
            - smm153
            - smm313
            - smm310
            - smm153
            - smm154
            - smm311
            - smm312
        bgp_peers:
          172.16.4.5:
            maximum_routes: 0
            route_map_in: LOCAL_DEFAULT_LEAK_RM
            description: IXIA_PREMIUM
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65503"
          172.16.4.7:
            maximum_routes: 0
            route_map_in: LOCAL_DEFAULT_LEAK_RM
            description: IXIA_PREMIUM
            # ebgp_multihop: 1
            nodes:
            - smm154
            remote_as: "65503"
      ARIS1:
        vrf_id: 20002
        vtep_diagnostic:
          loopback: 2002
          loopback_ip_range: 10.0.0.0/24
        address_families:
          - evpn
        l3_interfaces:
          - description: ARIS1
            enabled: true
            interfaces:
            - Ethernet21/1.2000
            ip_addresses:
            - 172.16.3.0/31
            ipv6_addresses:
            - fd00:1::/127
            nodes:
            - smm153
        bgp_peers:
          172.16.3.1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
          fd00:1::1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
      ARIS2:
        vrf_id: 20003
        vtep_diagnostic:
          loopback: 2003
          loopback_ip_range: 10.0.0.0/24
        address_families:
          - evpn
        l3_interfaces:
          - description: ARIS2
            enabled: true
            interfaces:
            - Ethernet21/1.2001
            ip_addresses:
            - 172.16.3.0/31
            ipv6_addresses:
            - fd00:1::/127
            nodes:
            - smm153
        bgp_peers:
          172.16.3.1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
          fd00:1::1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
      ARIS3:
        vrf_id: 20004
        vtep_diagnostic:
          loopback: 2004
          loopback_ip_range: 10.0.0.0/24
        address_families:
          - evpn
        l3_interfaces:
          - description: ARIS3
            enabled: true
            interfaces:
            - Ethernet21/1.2002
            ip_addresses:
            - 172.16.3.0/31
            nodes:
            - smm153
        bgp_peers:
          172.16.3.1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
          fd00:1::1:
            maximum_routes: 0
            description: TENANT_B_CPE_SITE3
            # ebgp_multihop: 1
            nodes:
            - smm153
            remote_as: "65501"
      SCRUBBER:
        vrf_id: 666
        address_families:
          - vpn-ipv4
        l3_interfaces:
          - description: SCRUBBER
            enabled: true
            interfaces:
            - Ethernet11/1
            ip_addresses:
            - 10.0.0.0/31
            ipv6_addresses:
            - fd00:123::/127
            nodes:
            - smm153
        bgp_peers:
    l2vlans:
      20:
        name: TENANT_B_L2_SERVICE
        tags:
          - frankfurt
          - berlin
{%  endfor %}